{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block content %}

<h1>Todo List</h1>

<p>
    <a href="{% url 'todo-create' %}">➕ New Todo</a>
</p>

<ul>
{% for todo in object_list %}
    <li>
        {% if todo.completed %}
            <s>{{ todo.title }}</s>
        {% else %}
            {{ todo.title }}
        {% endif %}

        | <a href="{% url 'todo-update' todo.id %}">Edit</a>
        | <a href="{% url 'todo-delete' todo.id %}">Delete</a>
    </li>
{% empty %}
    <li>No todos yet.</li>
{% endfor %}
</ul>

{% endblock %}